html, body{height: 100%; margin: 0%; padding: 0%;
}

.container{

    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
    "header header"
    "left right"
    "footer footer";
    gap: 10px;
    height: 100vh;
}

header{
    grid-area: header;
    background: lightblue;
    text-align: center;
    padding:20px;

}

